body {font-family: "monospace", monospace;
background-color: #2b3444;}


h1{width: 200px;
height: 100%;
margin-left: 30px;
float: left;
color:#8e9aaf;

}

.ww {
  width: 600px;
  height: 100%;
  margin-left: 10px;
  float: left;
  position: relative;
  list-style: none;
  display: inline-block;
  margin: 25px 10px;
  padding-right: 5em; /* NOTE: just delete this to go regular */
}
.ww .content {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 11.7%; /* NOTE: keepthis0%togobacktonormal */
  bottom: 0;
  background-color: rgba(206,249,255,.5);
  opacity: 0;
  transition: 360ms;
  font-size: 55px;
  padding-left: .5em;

}

.ww:hover .content {
  opacity: 1;
}

.scroll {
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  width: auto;
}

.ww img{
  width: 100%;
  height: auto;
}
